@import "tailwindcss";

@theme {
  --font-catamaran: "catamaran", sans-serif;
  --font-bennet-banner: "bennet-banner", sans-serif;
  --background-image-hero: url("/images/black-woman-pregnant.svg");
  --color-peach: #E69882;
}
